/* class font */

.code-circus {
    font-weight: var(--codecircus-font-weight);
}

.headers {
    font-weight: var(--headers-font-weight);
}

.pop-up-nav {
    background-color: var(--red);
    color: white;
    text-align: center;
}

.pop-up-nav a {
    color: white;
}

.list-nav {
    font-variant: all-small-caps;
    font-size: var(--font-size-18);
}

.list-nav a {
    text-decoration: none;
    color: black;
}

.my-bg-light-blue {
    background-color: var(--light-blue);
}

.my-bg-fdeed5 {
    background-color: var(--my-bg-fdeed5);
}