main {
    padding-top: 68px;
}

header {
    background-image: url(../images/billboard-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
}

header section:first-child {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

header section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    position: relative;
    top: 18px;
}

header section:nth-of-type(2) button{
    margin-right: 20px;
}