.pop-up-nav {
    padding: 5px 0;
}

.navbar {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.navbar div:last-of-type,
.navbar div:nth-of-type(2) {
    padding-top: 8px;
}

.list-nav {
    display: flex;
    list-style: none;
}

.list-nav li {
    margin-right: 25px;
}

.list-nav li:nth-of-type(5) a {
    margin-right: unset;
    text-decoration: underline;
}

.sublist-nav{
    display: none;
}

.sublist-nav {
    display: none;
    list-style: none;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 697px;
}

.sublist-nav a {
    color: black;
    text-decoration: none;
    font-weight: var(--headers-font-weight);
}