/* import */

@import "classFont.css";
@import "navStyle.css";
@import "mainStyle.css";

/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* general */

:root {
    --red: #EC6C5B;
    --green: #4CC083;
    --light-blue: #E2F3F0;
    --font-family: "Inter", sans-serif;
    --codecircus-font-weight: 300;
    --headers-font-weight: 600;
    --font-size-18: 18px;
}

/* font family "Inter" */

body {
    font-family: var(--font-family);
}

nav {
    position: fixed;
    width: 100%;
}

/* svg size in nav */

nav svg {
    width: 25px;
}