/* style class */

.pop-up-nav {
    padding: 5px 0;
}

.navbar {
    margin: auto 20px;
    display: flex;
    justify-content: space-between;
}

.list-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.sublist-nav{
    display: none;
    list-style: none;
}