/* import */

@import "styleClass.css";
@import "classFont.css";
@import "fontFamilyInter.css";

/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* general */

:root {
    --red: #EC6C5B;
    --green: #4CC083;
    --light-blue: #E2F3F0;
    --font-family: "Inter", sans-serif;
}

nav svg {
    width: 25px;
}