/* import */

@import "navStyle.css";
@import "styleClass.css";
@import "classFont.css";

/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* general */

:root {
    --red: #EC6C5B;
    --green: #4CC083;
    --light-blue: #E2F3F0;
    --font-family: "Inter", sans-serif;
}

/* font family "Inter" */

body {
    font-family: var(--font-family);
}

/* svg size in nav */

nav svg {
    width: 25px;
}